<html ng-app="gameApp">
<head>
  <title>Vornaxy Online</title>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" ></script>
  <script src="ship.js"></script>
  <script src="rooms.js"></script>
  <script src="globals.js"></script>
  <link rel="stylesheet" href="http://getbootstrap.com/2.0.4/assets/css/bootstrap-responsive.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <style>
    .progressFrame {
      height: 14pt;
      margin: 2pt 0;
      width: 80pt;
      border: 1px solid;
    }
    .progressFill {
      height: 14pt;
      white-space: nowrap;
      text-align: center;
    }
    .damaged {
      color: red;
      font-weight: bold;
    }
    .energyBar {
      display:inline-block;
      margin: 4pt 1pt 0pt 0pt;
      width: 25pt;
      height: 12pt;
      border: 1px solid cyan;
    }
    .energyBar.filled {
      border: 1px solid cyan;
      background-color: cyan;
    }
    body, select, option {
      font-size: 1em;
    }
  </style>
  <script>

  function CrewMember() {
    this.maxHp = HP_UNIT;
    this.title = pickRandomEl(NAMES);
    this.maxDamage = 1;
    this.maxReloadRate = 25;

    this.hp = this.maxHp;
    this.reloadRate = 0;
    this.damage = 0;
    this.lastProgressUpdateAt = 0;
    this.progress = 0;
  }
  CrewMember.prototype.updateProperties = function(ship) {
    this.reloadRate = Math.round(this.maxReloadRate*this.hp/this.maxHp);
    this.damage = Math.round(this.maxDamage*(this.hp/this.maxHp));
    if (this.hp > 0 && this.damage == 0) {
      this.damage = 1;
    }
  }



  function recoverHp(myShip, mode) {
    if (mode != GARAGE_MODE) {
      return;
    }
    let recovered = false;
    for (let k in myShip.rooms) {
      let room = myShip.rooms[k];
      if (room.hp < room.maxHp) {
        room.hp += 1;
        if (room.hp > room.maxHp) {
          room.hp = room.maxHp;
        }
        break;
      }
    }
  }

  function resetTimers(room) {
    let now = Date.now();
    if (room.lastProgressUpdateAt !== undefined) {
      room.lastProgressUpdateAt = now;
    }
  }

  function getShipTargetsDamage(ship) {
    let myDamage = {};
    let now = Date.now();
    for (let k in ship.rooms) {
      let room = ship.rooms[k];
      if (room.type == WEAPON_CLASS) {
        room.progress += (now - room.lastProgressUpdateAt)*2*room.reloadRate/1000;
        room.lastProgressUpdateAt = now;
        if (room.progress < 100) {
          continue;
        }
        room.progress = 0;
        if (room.hp <= 0) {
          continue;
        }
        if (myDamage[room.targetId] === undefined) {
          myDamage[room.targetId] = 0;
        }
        myDamage[room.targetId] += room.damage;
      }
    }
    return myDamage;
  }

  function checkDead(ship) {
    for (let k in ship.rooms) {
      if (ship.rooms[k].hp > 0) {
        return false;
      }
    }
    return true;
  }

  function pickRandomEl(arr) {
    if (arr.length == 0) {
      throw "Can't pick random element from an empty array";
    }
    let index = Math.round(Math.random()*(arr.length -1));
    return {index: index, value: arr[index]};
  }

  function applyDamage(ship, damage) {
    let myDamage = {};
    let now = Date.now();
    let totalShield = 0;
    let healthyShieldRooms = [];
    for (let id in ship.rooms) {
      let room = ship.rooms[id];
      if (room.type == SHIELD_CLASS) {
        if (room.hp <= 0) {
          continue;
        }
        healthyShieldRooms.push(room);
        room.progress += (now - room.lastProgressUpdateAt)*2*room.reloadRate/1000;
        room.lastProgressUpdateAt = now;
        if (room.progress >= 100) {
          room.progress = 0;
          room.shield = Math.min(room.shield + 1, room.maxShield);
        }
        totalShield += room.shield;
      }
    }
    let totalShieldBefore = totalShield;
    for (let id in damage) {
      let target = ship.rooms[id];
      let dmg = Math.round(damage[id]);
      if (totalShield > 0) {
        let blockedByShield = Math.min(totalShield, dmg);
        totalShield -= blockedByShield;
        dmg -= blockedByShield;
      }
      target.hp -= dmg;
      if (target.hp < 0) {
        target.hp = 0;
      }
      if (target.updateProperties !== undefined) {
        target.updateProperties(ship);
      }
    }
    let deltaShield = totalShieldBefore - totalShield;
    while (deltaShield > 0 && healthyShieldRooms.length > 0) {
      let randChoice = pickRandomEl(healthyShieldRooms);
      if (randChoice.value.shield > 0) {
        randChoice.value.shield--;
        deltaShield--;
      } else {
        healthyShieldRooms.splice(randChoice.index);
      }
    }
  }


  function progressFight(myShip, enemy, fightStatus, callback) {
    if (fightStatus.mySurrender) {
      alert("You lost!");
      myShip.rating = Math.round(myShip.rating*0.33);
      for (let id in myShip.rooms) {
        myShip.rooms[id].hp = 0;
      }
      callback();
      return;
    }
    if (fightStatus.now > fightStatus.end) {
      alert("Draw due to timeout!");
      myShip.rating = Math.round(myShip.rating*0.4);
      callback();
      return;
    }
    enemy.redistributeEnergy();
    myShip.redistributeEnergy();
    // TODO: This is biased towards the damage from my ship, it shouldn't be.
    // TODO: If the tab is not active - the timing can go wrong.
    enemyDamage = getShipTargetsDamage(myShip);
    myDamage = getShipTargetsDamage(enemy);
    applyDamage(enemy, enemyDamage);
    applyDamage(myShip, myDamage);
    if (checkDead(enemy)) {
      alert("You won!");
      for (type in enemy.resources) {
        myShip.resources[type] += enemy.resources[type];
      }
      myShip.rating *= 2;
      callback();
      return;
    }
    if (checkDead(myShip)) {
      alert("You lost!");
      myShip.rating = Math.round(myShip.rating*0.33);
      callback();
      return;
    }
    myShip.setNewTargetsIfNeeded(enemy);
    enemy.setNewTargetsIfNeeded(myShip);

    setTimeout(function() {
        fightStatus.now = Date.now();
        progressFight(myShip, enemy, fightStatus, callback);
      }, FIGHT_RESOLUTION_MS);
  }

  // Kudos to https://stackoverflow.com/a/49434653
  function rand_bm(min, max, skew) {
      let u = 0, v = 0;
      while(u === 0) u = Math.random(); //Converting [0,1) to (0,1)
      while(v === 0) v = Math.random();
      let num = Math.sqrt( -2.0 * Math.log( u ) ) * Math.cos( 2.0 * Math.PI * v );

      num = num / 10.0 + 0.5; // Translate to 0 -> 1
      if (num > 1 || num < 0) num = randn_bm(min, max, skew); // resample between 0 and 1 if out of range
      num = Math.pow(num, skew); // Skew
      num *= max - min; // Stretch to fill range
      num += min; // offset to min
      return num;
  }

  function investRandomly(ship, rating) {
    for (resType in ship.resources) {
      ship.resources[resType] = rating;
    }
    let options = ship.getIvenstmentOptions();
    while (options.length > 0) {
      let randChoice = pickRandomEl(options);
      randChoice.value.apply();
      options = ship.getIvenstmentOptions();
    }
    for (resType in ship.resources) {
      ship.resources[resType] = Math.round(rand_bm(60*(ship.level+1), 100*(ship.level+1), 1));
    }
  }

  function FightStatus(lvl) {
    let now = Date.now();
    this.now = now;
    this.start = now;
    this.end = now + MAX_FIGHT_TICKS*1000*(lvl*0.5+1);
    this.mySurrender = false;
  }
  FightStatus.prototype.min = function() {
    let d = (this.end - this.now)/1000;
    return Math.floor(d/60);
  }
  FightStatus.prototype.sec = function() {
    let d = (this.end - this.now)/1000;
    return Math.round(d - this.min()*60);
  }
  </script>
  <script>
  // Angular magic starts here
  var app = angular.module("gameApp", []);
  app.controller("appController",
    function($scope, $timeout) {

      $scope.GARAGE_MODE = GARAGE_MODE;
      $scope.FIGHT_MODE = FIGHT_MODE;
      $scope.SHIELD_CLASS = SHIELD_CLASS;
      $scope.WEAPON_CLASS = WEAPON_CLASS;
      $scope.ENERGY_PROVIDER_CLASS = ENERGY_PROVIDER_CLASS;
      $scope.OXYGEN_CLASS = OXYGEN_CLASS;


      let myShip = new Ship();
      myShip.isMine = true;
      myShip.addRoom(new LaserRoom());
      myShip.addRoom(new ReactorRoom());

      $scope.myShip = myShip;
      $scope.mode = GARAGE_MODE;
      $scope.debug = true;
      $scope.Math = window.Math;

      $scope.surrender = function() {
        $scope.fightStatus.mySurrender = true;
      };

      $scope.fight = function() {
        let enemy = new Ship();
        enemy.addRoom(new ReactorRoom());
        $scope.enemy = enemy;
        investRandomly(enemy, myShip.rating);
        $scope.fightStatus = new FightStatus(Math.max(myShip.level, enemy.level));
        myShip.initBeforeFight();
        enemy.initBeforeFight();
        myShip.redistributeEnergy();
        myShip.spendFreeEnergy();
        enemy.redistributeEnergy();
        myShip.setNewTargetsIfNeeded(enemy);
        enemy.setNewTargetsIfNeeded(myShip);
        $scope.mode = $scope.FIGHT_MODE;

        setTimeout(function() {
            progressFight(myShip, enemy, $scope.fightStatus, function() {
              $scope.mode = $scope.GARAGE_MODE;
            });
            $scope.$apply();
          }, FIGHT_RESOLUTION_MS);
      };



      setInterval(function() {
          recoverHp(myShip, $scope.mode);
          $scope.$apply();
        }, 1000);
    });
    app.directive("upgrade", function() {
      return {
        restrict: 'E',
        scope: {
          entity: '=',
          ship: '=',
        },
        template: `
          <a ng-if="ship.haveEnoughResources(entity.upgrade.cost)" href="#" ng-click="upgrade(entity)">Upgrade</a>
          <span ng-if="!ship.haveEnoughResources(entity.upgrade.cost)">Upgrade</span>:
          {{entity.upgrade}}
        `,
        controller: ['$scope', function UpgradeController($scope) {
          $scope.upgrade = function(entity) {
            if (entity.upgrade && $scope.ship.doUpgrade(entity.upgrade, entity)) {
              alert("Success");
            } else {
              alert("Could not perform the upgrade!");
            }
          };
        }],
      }
    });
    app.directive("progressBar", function() {
      return {
        restrict: 'E',
        scope: {
          total: '<',
          complete: '<',
          color: '@',
          text: '@',
        },
        template: `
          <div class="progressFrame" style="border-color:{{color}};">
            <div class="progressFill" style="width:{{complete*100/total}}%;background-color:{{color}};">
              {{text}}
            </div>
          </div>
        `,
      }
    });
    app.filter('range', function() {
      return function(input, total) {
        total = parseInt(total);
        for (let i=0; i<total; i++)
          input.push(i);
        return input;
      };
    });
    app.directive("energyControl", function() {
      return {
        restrict: 'E',
        scope: {
          total: '<',
          current: '<',
          roomId: '<',
          ship: '=',
        },
        template: `
          <span ng-repeat="n in [] | range:total" ng-click="change($index)"
            class="energyBar" ng-class="{'filled': current > $index}"></span>
        `,
        controller: ['$scope', function energyControl($scope) {
          $scope.change = function(index) {
            if (index == 0 && $scope.current == 1) {
              $scope.ship.decEnergyForRoom($scope.roomId, 1);
              return;
            }
            if (index < $scope.current) {
              $scope.ship.decEnergyForRoom($scope.roomId, $scope.current - index - 1);
            } else {
              $scope.ship.incEnergyForRoom($scope.roomId, index - $scope.current + 1);
            }
          };
        }],
      }
    });
  </script>
</head>
<body ng-controller="appController">
  <div class="container">
    <div class="row">
      <div class="span8" style="line-height: 1.4em;">
        <span style="font-size: 1.4em; font-weight:bold;">Vornaxy Online | </span> 
        <a ng-if="mode==GARAGE_MODE" id="fight-button" ng-click="fight()" href="#">Fight</a>
        <span ng-if="mode==FIGHT_MODE">The battle will finish in draw in {{fightStatus.min()}}:{{fightStatus.sec()}}</span>
        <a ng-if="mode==FIGHT_MODE" ng-click="surrender()" href="#">Surrender</a>
      </div>
    </div>
    <div class="row">
      <hr />
    </div>
    <div class="row">
    <div class="span4">
      <h3>Your ship</h3>
      <div id="you">
        <ul>
          <li ng-if="myShip.freeEnergy > 0 && mode==FIGHT_MODE">
            Unused energy:
            <span ng-repeat="n in [] | range:myShip.freeEnergy"
              class="energyBar filled"></span>
          </li>
          <li>Resources: {{ myShip.resources}}</li>
          <li>Level: {{ myShip.level}}</li>
          <li>Max rooms: {{ myShip.maxRooms}}</li>
          <li ng-if="mode==GARAGE_MODE"><upgrade entity="myShip" ship="myShip"/></li>
          <li>Rooms:
            <ul ng-repeat="(roomId, room) in myShip.rooms">
              <li>{{room.title}}-{{roomId}}
                <ul>
                  <!-- progress bars -->
                  <li>
                    <progress-bar complete="room.hp" total="room.maxHp"
                      color="red" text="Hp: {{room.hp}}/{{room.maxHp}}" />
                  </li>
                  <li ng-if="room.type==WEAPON_CLASS && mode==FIGHT_MODE && room.hp > 0 && room.energy > 0">
                    <progress-bar complete="room.progress"
                      total="100" color="#CCCC00"
                      text="Next shot" />
                  </li>
                  <li ng-if="room.type==SHIELD_CLASS && mode==FIGHT_MODE && room.hp > 0 && room.energy > 0">
                    <progress-bar complete="room.progress"
                      total="100" color="#CCCC00"
                      text="Next load" />
                  </li>
                  <li ng-if="room.type==SHIELD_CLASS && mode==FIGHT_MODE && room.hp > 0">
                    <progress-bar complete="room.shield"
                      total="room.maxShield" color="#659EC7"
                      text="Shield: {{room.shield}} / {{room.maxShield}}" />
                  </li>

                  <!-- Everything else -->
                  <li ng-if="room.energyDemand && mode==FIGHT_MODE && room.hp > 0">
                    Energy:
                    <energy-control total="room.energyDemand" room-id="roomId"
                    current="room.energy" ship="myShip" />
                  </li>

                  <li ng-if="room.type==WEAPON_CLASS && mode==GARAGE_MODE">Damage:
                      {{room.maxDamage}}
                  </li>
                  <li ng-if="room.type==WEAPON_CLASS && mode==FIGHT_MODE">Damage:
                    <span ng-class="{damaged: room.damage < room.maxDamage}">
                      {{room.damage}}
                    </span>
                  </li>

                  <li ng-if="room.type==WEAPON_CLASS && mode==GARAGE_MODE">Energy demand: {{room.energyDemand}}</li>
                  <li ng-if="room.type==WEAPON_CLASS && mode==GARAGE_MODE">Reload rate: {{room.maxReloadRate}}</li>
                  <li ng-if="room.type==WEAPON_CLASS && mode==FIGHT_MODE && debug">Reload rate:
                    <span ng-class="{damaged: room.reloadRate < room.maxReloadRate}">
                      {{room.reloadRate}}
                    </span>
                  </li>

                  <li ng-if="room.type==WEAPON_CLASS && mode==FIGHT_MODE">
                    <select ng-model="room.targetId" class="target">
                      <option ng-repeat="(enemyRoomId, enemyRoom) in enemy.rooms"
                        value="{{enemyRoomId}}"
                        ng-selected="room.targetId==enemyRoomId">
                        {{enemyRoom.title}}-{{enemyRoomId}}</options>
                    </select>
                  </li>

                  <li ng-if="room.type==SHIELD_CLASS && mode==GARAGE_MODE">Reload rate: {{room.maxReloadRate}}</li>
                  <li ng-if="room.type==SHIELD_CLASS && mode==FIGHT_MODE && debug">Reload rate:
                    <span ng-class="{damaged: room.reloadRate < room.maxReloadRate}">
                      {{room.reloadRate}}
                    </span>
                  </li>
                  <li ng-if="room.type==SHIELD_CLASS && mode==FIGHT_MODE">Energy: {{room.energy}}</li>
                  <li ng-if="room.type==SHIELD_CLASS && mode==FIGHT_MODE">Energy demand: {{room.energyDemand}}</li>
                  <li ng-if="room.type==SHIELD_CLASS && mode==GARAGE_MODE">Max shield: {{room.maxMaxSHIELD_CLASS}}</li>

                  <li ng-if="room.type==ENERGY_PROVIDER_CLASS && mode==GARAGE_MODE">Energy output: {{room.maxEnergySupply}}</li>
                  <li ng-if="room.type==ENERGY_PROVIDER_CLASS && mode==FIGHT_MODE && debug">Energy output:
                    <span ng-class="{damaged: room.damage < room.maxDamage}">
                      {{room.energySupply}}
                    </span>
                  </li>
                  <li ng-if="mode==GARAGE_MODE && room.upgrade">
                    <upgrade entity="room" ship="myShip" />
                  </li>
                  <li ng-if="room.crew && room.crew.length">Crew:
                    <ul ng-repeat="mem in room.crew">
                      <li>{{mem.title}}</li>
                      <li>
                        <progress-bar complete="mem.hp" total="mem.maxHp"
                          color="red" text="Hp: {{mem.hp}}/{{mem.maxHp}}" />
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li ng-if="mode==GARAGE_MODE && myShip.maxRooms > myShip.rooms.length">
            New rooms available:
            <ul ng-repeat="(title, cost) in myShip.newRoomCosts">
              <li>
                <a ng-if="myShip.haveEnoughResources(cost)" href="#" ng-click="myShip.buyRoom(title)">Buy {{title}}</a>
                <span ng-if="!myShip.haveEnoughResources(cost)">{{title}}</span>
                {{cost}}
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="span4">
      <h3 ng-if="mode==FIGHT_MODE">Enemy</h3>
      <div ng-if="mode==FIGHT_MODE" id="enemy">
        <ul>
          <li ng-if="debug">Unused energy: {{enemy.freeEnergy}}</li>
          <li>Resources: {{ enemy.resources}}</li>
          <li>Level: {{ enemy.level}}</li>
          <li>Rooms:
            <ul ng-repeat="(roomId, room) in enemy.rooms">
              <li ng-switch on="room.type">{{room.title}}-{{roomId}}
                <ul>
                  <li>
                    <progress-bar complete="room.hp" total="room.maxHp"
                      color="red" text="Hp: {{room.hp}}/{{room.maxHp}}" />
                  </li>
                  <li ng-if="room.type==WEAPON_CLASS && debug && room.hp > 0">
                    <progress-bar complete="room.progress"
                      total="100" color="#CCCC00"
                      text="Next shot" />
                  </li>
                  <li ng-if="room.type==SHIELD_CLASS && debug && room.hp > 0">
                    <progress-bar complete="room.progress"
                      total="100" color="#CCCC00"
                      text="Next load" />
                  </li>
                  <li ng-if="room.type==SHIELD_CLASS && room.hp > 0">
                    <progress-bar complete="room.shield"
                      total="room.maxShield" color="#659EC7"
                      text="Shield: {{room.shield}} / {{room.maxShield}}" />
                  </li>

                  <li ng-if="room.type==WEAPON_CLASS && debug">Energy: {{room.energy}}</li>
                  <li ng-if="room.type==WEAPON_CLASS && debug">Damage:
                    <span ng-class="{damaged: room.damage < room.maxDamage}">
                      {{room.damage}}
                    </span>
                  </li>
                  <li ng-if="room.type==WEAPON_CLASS && debug">Reload rate:
                    <span ng-class="{damaged: room.reloadRate < room.maxReloadRate}">
                      {{room.reloadRate}}
                    </span>
                  </li>
                  <li ng-if="room.type==WEAPON_CLASS && debug">Energy demand: {{room.energyDemand}}</li>
                  <li ng-if="room.type==WEAPON_CLASS">Targeting: {{myShip.rooms[room.targetId].title}}-{{room.targetId}}</li>

                  <li ng-if="room.type==SHIELD_CLASS && debug">Reload rate:
                    <span ng-class="{damaged: room.reloadRate < room.maxReloadRate}">
                      {{room.reloadRate}}
                    </span>
                  </li>
                  <li ng-if="room.type==SHIELD_CLASS && debug">Energy: {{room.energy}}</li>
                  <li ng-if="room.type==SHIELD_CLASS && debug">Energy demand: {{room.energyDemand}}</li>

                  <li ng-if="room.type==ENERGY_PROVIDER_CLASS && debug">Max energy output: {{room.maxEnergySupply}}</li>
                  <li ng-if="room.type==ENERGY_PROVIDER_CLASS && debug">Energy output:
                    <span ng-class="{damaged: room.damage < room.maxDamage}">
                      {{room.energySupply}}
                    </span>
                  </li>
                  <li ng-if="room.crew && room.crew.length">Crew:
                    <ul ng-repeat="mem in room.crew">
                      <li>{{mem.title}}</li>
                      <li>
                        <progress-bar complete="mem.hp" total="mem.maxHp"
                          color="red" text="Hp: {{mem.hp}}/{{mem.maxHp}}" />
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    </div>
  </div>
</body>
</html>
