<html ng-app="gameApp">
<head>
  <title>Spaceships Prototype</title>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" ></script>
  <link rel="stylesheet" href="http://getbootstrap.com/2.0.4/assets/css/bootstrap-responsive.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <style>
    .progressFrame {
      height: 20px;
      width: 100px;
      border: 1px solid;
    }
    .progressFill {
      height: 20px;
      white-space: nowrap;
      text-align: center;
    }
  </style>
  <script>
  var GARAGE_MODE = 0;
  var FIGHT_MODE = 1;
  var HP_UNIT = 10;
  var MAX_FIGHT_TICKS = 90;
  var FIGHT_RESOLUTION_MS = 100;

  var mode = GARAGE_MODE;

  function doUpgrade(myShip, upgrade, entity) {
    if (!upgrade.cost || !myShip.haveEnoughResources(upgrade.cost)) {
      return false;
    }
    myShip.chargeCost(upgrade.cost);
    for (key in upgrade.improvements) {
      entity[key] += upgrade.improvements[key];
    }
    for (var resType in upgrade.cost) {
      upgrade.cost[resType] *= 2;
    }
    return true;
  }

  Ship.prototype.chargeCost = function(cost) {
      for (var resType in cost) {
        this.resources[resType] -= cost[resType];
      }
  }

  function Ship() {
    this.rooms = [];
    this.maxRooms = 3;
    this.resources = {"minerals": 100, "gas": 100};
    this.maxRoomId = 0;
    this.isMine = false;
    this.upgrade = new Upgrade(4, 0, {maxRooms: 2});
  }

  function Upgrade(minerals, gas, improvements) {
    this.cost = {"minerals": minerals, "gas": gas};
    this.improvements = improvements;
  }

  function LaserRoom(id) {
    this.id = id;
    this.title = "Laser";
    this.hp = 3*HP_UNIT;
    this.maxHp = this.hp;
    this.damage = HP_UNIT;
    this.targetId = 0;
    this.lastShotAt = 0;
    this.fireRate = 10;
    this.upgrade = new Upgrade(100, 0, {fireRate: 1});
  }
  function ReactorRoom(id) {
    this.id = id;
    this.hp = 3*HP_UNIT;
    this.maxHp = this.hp;
    this.title = "Reactor";
    this.energyMax = 3;
    this.upgrade = new Upgrade(100, 100, {energyMax: 1});
  }

  function BedRoom(id) {
    this.id = id;
    this.hp = HP_UNIT;
    this.maxHp = this.hp;
    this.title = "Bedroom";
    this.capacity = 1;
  }

  Ship.prototype.addRoom = function(room) {
    this.rooms[this.maxRoomId] = room;
    this.maxRoomId++;
  }

  Ship.prototype.haveEnoughResources = function(cost) {
      for (var resType in cost) {
        if (this.resources[resType] < cost[resType]) {
          return false;
        }
      }
      return true;
  }

  function recoverHp(myShip, mode) {
    if (mode != GARAGE_MODE) {
      return;
    }
    var recovered = false;
    for (var k in myShip.rooms) {
      var room = myShip.rooms[k];
      if (room.hp < room.maxHp) {
        room.hp += 1;
        if (room.hp > room.maxHp) {
          room.hp = room.maxHp;
        }
        break;
      }
    }
  }

  function resetAllRoomsTimestamps(ship) {
    var now = Date.now();
    for (id in ship.rooms) {
      var room = ship.rooms[id];
      if (room.lastShotAt !== undefined) {
        room.lastShotAt = now;
      }
    }
  }


  function getShipTargetsDamage(ship) {
    var myDamage = {};
    var now = Date.now();
    for (var k in ship.rooms) {
      var room = ship.rooms[k];
      if (room.title == "Laser") {
        if (room.lastShotAt > now - (50/room.fireRate)*1000) {
          continue;
        }
        if (room.hp <= 0) {
          continue;
        }
        if (myDamage[room.targetId] === undefined) {
          myDamage[room.targetId] = 0;
        }
        myDamage[room.targetId] += (room.hp/room.maxHp)*room.damage;
        room.lastShotAt = now;
      }
    }
    return myDamage;
  }

  function checkDead(ship) {
    for (var k in ship.rooms) {
      if (ship.rooms[k].hp > 0) {
        return false;
      }
    }
    return true;
  }

  function setNewTargetsIfNeeded(ship, enemy) {
    var newTarget;
    for (var k in enemy.rooms) {
      if (enemy.rooms[k].hp > 0) {
        newTarget = enemy.rooms[k].id;
        break;
      }
    }
    for (var k in ship.rooms) {
      var room = ship.rooms[k];
      if (room.title == "Laser") {
        if (enemy.rooms[room.targetId].hp <= 0) {
          room.targetId = newTarget;
        }
      }
    }
  }

  function applyDamage(ship, damage) {
    var myDamage = {};
    for (var id in damage) {
      var target = ship.rooms[id];
      target.hp -= Math.round(damage[id]);
      if (target.hp < 0) {
        target.hp = 0;
      }
    }
  }


  function progressFight(myShip, enemy, timeLeft, callback) {
    if (timeLeft.now > timeLeft.end) {
      alert("Draw due to timeout!");
      callback();
      return;
    }
    // TODO: This is biased towards the damage from my ship, it shouldn't be.
    enemyDamage = getShipTargetsDamage(myShip);
    myDamage = getShipTargetsDamage(enemy);
    applyDamage(enemy, enemyDamage);
    applyDamage(myShip, myDamage);
    if (checkDead(enemy)) {
      alert("You won!");
      for (type in enemy.resources) {
        myShip.resources[type] += enemy.resources[type];
      }
      callback();
      return;
    }
    if (checkDead(myShip)) {
      alert("You lost!");
      callback();
      return;
    }
    setNewTargetsIfNeeded(myShip, enemy);
    setNewTargetsIfNeeded(enemy, myShip);

    setTimeout(function() {
        timeLeft.now = Date.now();
        progressFight(myShip, enemy, timeLeft, callback);
      }, FIGHT_RESOLUTION_MS);
  }

  function TimeLeft() {
    var now = Date.now();
    this.now = now;
    this.start = now;
    this.end = now + MAX_FIGHT_TICKS*1000;
  }
  TimeLeft.prototype.min = function() {
    var d = (this.end - this.now)/1000;
    return Math.floor(d/60);
  }
  TimeLeft.prototype.sec = function() {
    var d = (this.end - this.now)/1000;
    return Math.round(d - this.min()*60);
  }
  </script>
  <script>
  // Angular magic starts here
  var app = angular.module("gameApp", []);
  app.controller("appController",
    function($scope, $timeout) {
      $scope.GARAGE_MODE = GARAGE_MODE;
      $scope.FIGHT_MODE = FIGHT_MODE;

      var myShip = new Ship();
      myShip.isMine = true;
      myShip.addRoom(new LaserRoom(myShip.maxRoomId));
      myShip.addRoom(new ReactorRoom(myShip.maxRoomId));
      myShip.addRoom(new BedRoom(myShip.maxRoomId));

      $scope.myShip = myShip;
      $scope.mode = GARAGE_MODE;

      $scope.fight = function() {
        var enemy = new Ship();
        enemy.addRoom(new LaserRoom(enemy.maxRoomId));
        enemy.addRoom(new ReactorRoom(enemy.maxRoomId));
        enemy.addRoom(new BedRoom(enemy.maxRoomId));
        $scope.enemy = enemy;
        $scope.timeLeft = new TimeLeft();
        resetAllRoomsTimestamps(myShip);
        resetAllRoomsTimestamps(enemy);
        $scope.mode = $scope.FIGHT_MODE;

        setTimeout(function() {
            progressFight(myShip, enemy, $scope.timeLeft, function() {
              $scope.mode = $scope.GARAGE_MODE;
            });
            $scope.$apply();
          }, FIGHT_RESOLUTION_MS);
      };


        
      setInterval(function() {
          recoverHp(myShip, $scope.mode);
          $scope.$apply();
        }, 1000);
    });
    app.directive("upgrade", function() {
      return {
        restrict: 'E',
        scope: {
          entity: '=',
          ship: '=',
        },
        template: `
          <a ng-if="ship.haveEnoughResources(entity.upgrade.cost)" href="#" id="updrade_{{entity.id}}" ng-click="upgrade(entity)">Upgrade</a>
          <span ng-if="!ship.haveEnoughResources(entity.upgrade.cost)">Upgrade</span>:
          {{entity.upgrade}}
        `,
        controller: ['$scope', function UpgradeController($scope) {
          $scope.upgrade = function(entity) {
            if (entity.upgrade && doUpgrade($scope.ship, entity.upgrade, entity)) {
              alert("Success");
            } else {
              alert("Could not perform the upgrade!");
            }
          };
        }],
      }
    });
    app.directive("progressBar", function() {
      return {
        restrict: 'E',
        scope: {
          total: '<',
          complete: '<',
          color: '@',
          text: '@',
        },
        template: `
          <div class="progressFrame" style="border-color:{{color}};">
            <div class="progressFill" style="width:{{complete*100/total}}%;background-color:{{color}};">
              {{text}}
            </div>
          </div>
        `,
      }
    });
  </script>
</head>
<body ng-controller="appController">
  <div class="container">
    <div class="row">
      <div class="span8" style="text-align:center;"> 
        <a ng-if="mode==GARAGE_MODE" id="fight-button" ng-click="fight()" href="#">Fight</a>
        <span ng-if="mode==FIGHT_MODE">The battle will finish in draw in {{timeLeft.min()}}:{{timeLeft.sec()}}</span>
      </div>
    </div>
    <div class="row">
    <div class="span4">
      <h2>Your ship</h2>
      <div id="you">
        <ul>
          <li>Resources: {{ myShip.resources}}</li>
          <li>Ship size: {{ myShip.rooms.length }}</li>
          <li ng-if="mode==GARAGE_MODE"><upgrade entity="myShip" ship="myShip"/></li>
          <li>Rooms:
            <ul ng-repeat="room in myShip.rooms">
              <li ng-switch on="room.title">{{room.title}}-{{room.id}}
                <ul>
                  <li>
                    <progress-bar complete="room.hp" total="room.maxHp"
                      color="red" text="Hp: {{room.hp}}/{{room.maxHp}}" />
                  </li>
                  <li ng-if="mode==FIGHT_MODE && room.hp > 0" ng-switch-when="Laser">
                    <progress-bar complete="timeLeft.now - room.lastShotAt"
                      total="50*1000/room.fireRate" color="#CCCC00"
                      text="Next shot" />
                  </li>
                  <li ng-switch-when="Laser">Max damage: {{room.damage}}</li>
                  <li ng-switch-when="Laser">Fire rate: {{room.fireRate}}</li>
                  <li ng-if="mode==FIGHT_MODE" ng-switch-when="Laser">
                    <select ng-model="room.targetId" class="target" ng-init="room.targetId='0'">
                      <option ng-repeat="enemyRoom in enemy.rooms" value="{{enemyRoom.id}}" ng-selected="room.targetId==enemyRoom.id">{{enemyRoom.title}}-{{enemyRoom.id}}</options>
                    </select>
                  </li>
                  <li ng-switch-when="Reactor">Max energy output: {{room.energyMax}}</li>
                  <li ng-if="mode==GARAGE_MODE && room.upgrade">
                    <upgrade entity="room" ship="myShip" />
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="span4">
      <h2 ng-if="mode==FIGHT_MODE">Enemy</h2>
      <div ng-if="mode==FIGHT_MODE" id="enemy">
        <ul>
          <li>Ship size: {{ myShip.rooms.length }}</li>
          <li>Resources: {{ enemy.resources}}</li>
          <li>Rooms:
            <ul ng-repeat="room in enemy.rooms">
              <li ng-switch on="room.title">{{room.title}}-{{room.id}}
                <ul>
                  <li>
                    <progress-bar complete="room.hp" total="room.maxHp"
                      color="red" text="Hp: {{room.hp}}/{{room.maxHp}}" />
                  </li>
                  <li ng-if="room.hp > 0" ng-switch-when="Laser">
                    <progress-bar complete="timeLeft.now - room.lastShotAt"
                      total="50*1000/room.fireRate" color="#CCCC00"
                      text="Next shot" />
                  </li>
                  <li ng-switch-when="Laser">Max damage: {{room.damage}}</li>
                  <li ng-switch-when="Laser">Fire rate: {{room.fireRate}}</li>
                  <li ng-if="mode==FIGHT_MODE" ng-switch-when="Laser">Targeting: {{myShip.rooms[room.targetId].title}}-{{room.targetId}}</li>
                  <li ng-switch-when="Reactor">Max energy output: {{room.energyMax}}</li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    </div>
  </div>
</body>
</html>
